<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>$(tokenKey)</string>
</dict>
</plist>

<key>NSLocationTemporaryUsageDescriptionDictionary</key>
<dict>
    <key>CustomKey</key>
    <string>We temporarily require your precise location for an optimal experience.</string>
</dict>
